<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="Controle Bezerras">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#436073">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#436073">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">  
    <title>Editar Touro</title>
  </head>
  <body>
    <script src="/js/addPagNoCache.js"></script>
    <nav class="navbar navbar-default">
      <div class="menu">
        <div class="navbar-header">
          <button type="button" title="Menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Controle Bezerras</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/index">Painel</a></li>
            <li><a href="/bezerro/listabezerros">Bezerros</a></li>
            <li><a href="/vaca/listavacas">Vacas</a></li>
            <li class="active"><a href="/touro/listatouros">Touros</a></li>
            <li><a href="/manejo/listamanejo">Manejo</a></li>
          </ul>

        </div>
      </div>
    </nav>
    <div class="container-fluid">
                <div class="row">
              <div class="col-xs-12">
          <div id="primeiralinha"></div>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
          <blockquote>
            <h1>Editar Touro</h1>
          </blockquote>
        </div>
        <div class="col-sm-6 text-right">
          <h5>Última atualização dia <span th:text="${dataEHoraAtual}"></span> horas</h5>
        </div>
      </div>
      <div class="container-fluid panel">
        <div class="pagina">
          <form id="formTouro" th:action="@{/touro/salvarTouro}" method="post" th:object="${touro}" style="margin-bottom: 50px;">
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="numero">Número</label> <input type="number" class="form-control" th:field="*{numero}" required="required"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="nome">Nome</label> <input type="text" class="form-control" th:field="*{nome}" required="required" />
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="raca">Raça</label>
                <select class="form-control input" id="raca" th:field="*{raca}">
                  <option th:each="raca : ${raca}"
                    th:value="${raca}"
                    th:utext="${raca.descricao}"/>
                  </select>
                </div>
              </div>
            </div>
                        <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="dataNascimento">Data de Nascimento</label> <input type="date" class="form-control" th:field="*{dataNascimento}"/>
                </div>
              </div>
            </div>
            <div class= "row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="status">Status atual</label>
                  <select class="form-control input" id="status" th:field="*{status}">
                    <option th:each="status : ${status}"
                      th:value="${status}"
                      th:utext="${status.descricao}"/>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <div class="pull-right">
                    <a th:href="@{/touro/excluirTouro/{codigo}(codigo=${touro.id})}" title="Excluir" class="btn btn-md no-margin no-padding btn-danger">
                    <i class="fas fa-trash-alt"></i> Excluir</a>
                  </div>
                  <button type="submit" title="Salvar" class="btn btn-success"><i class="fas fa-check"></i> Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div th:insert="rodape :: copy"></div>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/js/alertOffline.js"></script>
    </body>
  </html>