<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="Description" content="Controle Bezerras">
      <meta http-equiv="Content-Language" content="pt-br">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
      <meta name="msapplication-TileColor" content="#436073">
      <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
      <meta name="theme-color" content="#436073">
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <link href="/css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <title>Lista de Bezerros</title>
   </head>
   <body>
      <script src="/js/addPagNoCache.js"></script>
      <nav class="navbar navbar-default">
         <div class="menu">
            <div class="navbar-header">
               <button type="button" title="Menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="">Controle Bezerras</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="/index">Painel</a></li>
                  <li><a href="/bezerro/listabezerros">Bezerros</a></li>
                  <li><a href="/vaca/listavacas">Vacas</a></li>
                  <li><a href="/touro/listatouros">Touros</a></li>
                  <li class="active"><a href="" style="color:#000 !important;">Manejo</a></li>
               </ul>

            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <div class="row">
            <div class="col-xs-12">
               <div id="primeiralinha"></div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <blockquote>
                  <h1>Manejo </h1>
               </blockquote>
            </div>
            <div class="col-sm-6 text-right">
               <h5>Última atualização dia <span th:text="${dataEHoraAtual}"></span> horas</h5>
            </div>
         </div>
         <div class="pagina">
            <div class="row">
               <form th:action="@{/manejo/pesquisar}" method="post" style="margin-bottom: 50px;">
                  <div class="col-sm-4 col-md-2">
                     <div class="input-group">
                        <span class="input-group-addon">  <button type="submit" class="botao-pequeno btn-success no-margin">Buscar</button>
                        </span>
                        <input type="date" th:value="${data}" name="data" class="form-control" required="required"><span class="input-group-addon"> <i class="fa fa-calendar bigger-110"></i> </span>
                     </div>
                  </div>
               </form>
               <div class="col-sm-5 col-md-4 pull-right text-right">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fas fa-search"></i></span>
                     <input type="text" name="filtro" id="filtrar-tabela" title="Campo de busca" class="form-control" placeholder="Busque pelo número ou nome do bezerro">
                  </div>
               </div>
            </div>
            <br>
            <div class="col-xs-12" style="padding: 0px;">
	            <div class="panel col-xs-12" style="padding-bottom: 0px;">
	              <div class="panel-body bg-light">
	                <div class="row">
	                  <div class="col-xs-6">
	                    <h3>Total de leite<br></h3>
	                  </div>
	                  <div class="col-xs-6 text-center">
	                    <h1><b><span th:text="${qtdLitros}"></span></b></h1>
	                  </div>
	                </div>
	                <hr>
	                <div class="row">
	                  <div class="col-xs-6">
	                    <h4 class="text-center"><span>Manhã<br><span th:text="${qtdLitrosManha}"></span></span></h4>
	                  </div>
	                  <div class="col-xs-6">
	                    <h4 class="text-center"><span>Tarde<br><span th:text="${qtdLitrosTarde}"></span></span></h4>
	                  </div>
	                </div>
                  </div>
                </div>
            </div>
            <div id="listaDeDias">
               <div>
                  <table class="table table-hover table-striped table-condensed table-bordered">
                     <th:block th:each="dia : ${dias}">
                        <tr class="animal" th:attr="id=${dia.id}">

                           <td colspan="9999">
                              <div class="panel" style="margin-bottom: 0px !important; padding-bottom: 5px;">
                                 <div class="panel-body no-padding" style="padding-bottom: 0px;">
                                    <div class="col-xs-12 header no-margin-top" style="padding-left: 0px; padding-right: 0px;">
                                       <div class="col-sm-4" style="padding-left: 0px;">
                                          <i class="fas fa-link" aria-hidiven="true"></i>
                                          <a th:href="@{/bezerro/perfil/{codigo}(codigo=${dia.bezerro.id})}">
                                          <strong>
                                          Bezerro:
                                          </strong>
                                          <span class="info-numero info-nome" th:text="${dia.bezerro.numeroNome}"></span>
                                          </a>
                                       </div>
                                       <div class="col-sm-4">
                                          <strong>
                                          <span th:text="${dia.numeroDia}"></span>º dia de vida
                                          </strong>
                                       </div>
                                       <div class="col-sm-4">
                                       <div class="col-xs-6" style="padding-left: 0px;">
                                          <strong class="label label-sm label-info">
                                          Baia: 
                                          <span th:text="${dia.bezerro.baia}"></span>
                                          </strong>
                                          </div>
                                          <div class="col-xs-6">
                                          <strong class="label label-sm label-info">
                                          Cocho: 
                                          <span th:text="${dia.bezerro.cocho}"></span>
                                          </strong>
                                          </div>
                                       </div>
                                       <div class="col-xs-12">
                                          <strong>
                                          Obs:
                                          </strong>
                                          <span th:text="${dia.bezerro.observacao}"></span>
                                       </div>
                                    </div>
                                    <div  th:attr="class=${dia.id}">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                       <div class="secao">
                                       <div class="row">
                                          <div class="col-xs-6 text-right">Colostro</div>
                                          <div class="col-xs-6"><span th:text="${dia.colostro}"></span> L</div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                       <div class="secao">
                                       <div class="row">
                                          <div class="col-xs-6 text-right">Leite</div>
                                          <div class="col-xs-6"><span th:text="${dia.leite}"></span> L</div>
                                          </div>
                                          <div class="row">
                                          <div class="col-xs-6 text-right">Ração</div>
                                          <div class="col-xs-6"><span th:text="${dia.racao}"></span> g</div>
                                       </div>
                                       </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                       <div class="secao">
                                       <div class="row">
                                         <div class="col-xs-6 text-right">Feno</div>
                                          <div>
                                             <div class="col-xs-6" th:switch="${dia.feno}">
                                                <span th:case="${false}"><i class="fas fa-times-circle vermelho"></i></span>
                                                <span th:case="${true}"><i class="fas fa-check-circle verde"></i></span>
                                             </div>
                                          </div>
                                          </div>
                                          <div class="row">
                                         <div class="col-xs-6 text-right">Vermifugação</div>
                                          <div>
                                             <div class="col-xs-6" th:switch="${dia.vermifugacao}">
                                                <span th:case="${false}"><i class="fas fa-times-circle vermelho"></i></span>
                                                <span th:case="${true}"><i class="fas fa-check-circle verde"></i></span>
                                             </div>
                                          </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                       <div class="secao">
                                       <div class="row">
                                          <div class="col-xs-6 text-right">Descorna</div>
                                          <div>
                                             <div class="col-xs-6" th:switch="${dia.descorna}">
                                                <span th:case="${false}"><i class="fas fa-times-circle vermelho"></i></span>
                                                <span th:case="${true}"><i class="fas fa-check-circle verde"></i></span>
                                             </div>
                                          </div>
                                           </div>
                                          <div class="row">
                                          <div class="col-xs-6 text-right" th:switch="${dia.numeroDia}">
                                             <span th:case="${1}">Desinfecção do umbigo</span>
                                          </div>
                                          <div>
                                             <div class="col-xs-6" th:switch="${dia.numeroDia}">
                                                <span th:case="${1}"><i class="fas fa-check-circle verde"></i></span>
                                             </div>
                                          </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-xs-12">
                                       <div class="row">
 
                                          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                             <div th:attr="class=${dia.id}">
                                                <div class="secao">
                                       <div class="row">
                                                   <div class="col-xs-6 text-right">Altura no dia</div>
                                                   <div class="col-xs-6"><span th:text="${dia.alturaNoDia}" class="alturaNoDia"></span></div>
                                                    </div>
                                          <div class="row">
                                                  <div class="col-xs-6 text-right">Peso no dia</div>
                                                   <div class="col-xs-6"><span th:text="${dia.pesoNoDia}" class="pesoNoDia"></span></div>
                                                </div>
                                                </div>
                                             </div>
                                          </div>
                                                                                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                                             <a style="text-decoration: none;" th:id="${dia.id}" onclick="passarIddia(this)" role="button" data-toggle="modal" data-target="#modalDiaBezerro" title="Completar Dados" class="btn btn-primary"> Completar Dados
                                             <input type="hidden" class="form-control" th:id="${dia.bezerro.id}" />
                                             <input type="hidden" class="numeroDia form-control" th:id="${dia.numeroDia}" />
                                             <input type="hidden" class="dataDia form-control" th:id="${dia.dataDoDia}" /></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 </div>
                              </div>
                           </td>
                                                                     <td class="text-center" onclick="exibeFilhos(this)" style="width: 45px !important">
                    <a title="Ação">
                      <i class="far fa-circle" style="font-size:40px;color:#436073;"></i>
                    </a>
                  </td>
                        </tr>
                     </th:block>
                  </table>
                  <div>Total de bezerros listados: <span th:text="${dias.size()}"></span></div>
               </div>
            </div>
         </div>
      </div>
      <div th:insert="modalDiaBezerro :: copy"></div>
      <div th:insert="rodape :: copy"></div>
      <script src="/js/jquery.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/js/detalheTabela.js"></script>
      <script src="/js/filtroTabela.js"></script>
      <script src="/js/alertOffline.js"></script>
      <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
      <script type="text/javascript" src="/js/formDiaBezerro.js"></script>
      <script type="text/javascript">
         function passarIddia(elemento) {
             var idelemento = elemento.id;
             $('#formDiaBezerro #idDiaBezerro').val(idelemento);
             var idBezerro = elemento.childNodes[1].id;
             $('#formDiaBezerro #idBezerro').val(idBezerro);
             var dataDoDia = elemento.getElementsByClassName("dataDia")[0].id;
             $('#formDiaBezerro #dataDoDia').val(dataDoDia);
             var numeroDia = elemento.getElementsByClassName("numeroDia")[0].id;
             $('#formDiaBezerro #numeroDia').val(numeroDia);
         }
      </script>
      <script type="text/javascript">
         $("#peso").mask("000.000");
      </script>
      <script type="text/javascript">
         $("#altura").mask("0.00");
      </script>
      <script type="text/javascript">
      function exibeFilhos(elemento) {
        	var elementoPai = elemento.parentNode;
        	
        	var filhos = elemento.childNodes[1];
        	var icone = filhos.childNodes[1];
        	
        	
        	var x = document.getElementsByClassName(elementoPai.id);
        	var i;
        	for (i = 0; i < x.length; i++) {
        	    var bezerro = x[i];
    	      if(bezerro.style.display == "none"){
  	    	  bezerro.style.display = "";
  	    	  icone.className = 'far fa-circle';
  	    	icone.style = 'font-size:40px;color:#436073;'
  	      }
  	      else{
  	      	bezerro.style.display = "none";
  	      	icone.className = 'fas fa-check-circle';
  	      	icone.style = 'font-size:40px;color:green;'
  	      }
        	}


        }
      </script>
   </body>
   </body>
</html>