<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <footer class="navbar-collapse" th:fragment="copy">
      <div class="container">
        <div class="col-sm-6">
          <p><span class="glyphicon glyphicon-earphone"></span><span> (49) 9 9832-9995</span>
          <br/>
          <span class="glyphicon glyphicon-envelope"></span><span> controlebezerras@gmail.com</span></p>
        </div>
        <div class="col-sm-6">
          <div>
            <div class="pull-right icones-footer">
              <a href="#" title="facebook"><i class="icones-footer fab fa-facebook-square fa-2x"></i></a>
              <a href="#" title="twitter"><i class="icones-footer fab fa-twitter fa-2x"></i></a>
              <a href="#" title="instagram"><i class="icones-footer fab fa-instagram fa-2x"></i></a>
              <a href="#" title="youtube"><i class="icones-footer fab fa-youtube fa-2x"></i></a>
              <a href="#" title="linkedin"><i class="icones-footer fab fa-linkedin fa-2x"></i></a>
              <a href="#" title="google+"><i class="icones-footer fab fa-google-plus-square fa-2x"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center">Copyright © 2018 Controle Bezerras - Todos os direitos reservados.</div>
      </div>
    </footer>
  </body>
</html>